[project]
	description = Sugador de provas do PCI Concursos
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hugo Tácito (hugotacito)
[access "refs/for/refs/*"]
	read = group user/Hugo Tácito (hugotacito)
	push = group user/Hugo Tácito (hugotacito)
	label-Code-Review = -2..+2 group user/Hugo Tácito (hugotacito)
	label-Verified = -1..+1 group user/Hugo Tácito (hugotacito)
	rebase = group user/Hugo Tácito (hugotacito)
	removeReviewer = group user/Hugo Tácito (hugotacito)
	submit = group user/Hugo Tácito (hugotacito)
[access "refs/heads/*"]
	read = group user/Hugo Tácito (hugotacito)
	create = group user/Hugo Tácito (hugotacito)
	push = +force group user/Hugo Tácito (hugotacito)
	pushMerge = group user/Hugo Tácito (hugotacito)
[access "refs/tags/*"]
	push = +force group user/Hugo Tácito (hugotacito)
	pushTag = group user/Hugo Tácito (hugotacito)
	pushSignedTag = group user/Hugo Tácito (hugotacito)
